/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/core/project/project/
/core/project/target/
/core/target/
/sbt-apidocjs/project/project/
/sbt-apidocjs/project/target/
/sbt-apidocjs/target/
.idea
.sbtserver
/project/.sbtserver.lock
/ApidocPluginTest/target/
/ApidocPluginTest/project/project/
/ApidocPluginTest/project/target/
sbt-apidocjs/src/sbt-test/sbt-apidoc/apidoc-project/target/
sbt-apidocjs/src/sbt-test/sbt-apidoc/apidoc-project/project/project/
sbt-apidocjs/src/sbt-test/sbt-apidoc/apidoc-project/project/target/
sbt-apidocjs/src/sbt-test/sbt-apidoc/non-apidoc-project/target/
sbt-apidocjs/src/sbt-test/sbt-apidoc/non-apidoc-project/project/project/
sbt-apidocjs/src/sbt-test/sbt-apidoc/non-apidoc-project/project/target/

